<div class="card">
  <div class="card-block">
    <%= gravatar_for comment.user, size: 50 %>
    <strong><%= link_to comment.user.name, user_path(comment.user) %></strong>
    <small class="text-muted"><em><%= comment.created_at %></em></small>
  </div>

  <div class="card-block">
    <%= comment.body %>
  </div>
</div>