<%= @category.title %>

<%= line_chart @grouped_visits, download: true %>

<ul>
  <% @category.posts.each do |post| %>
    <li><%= link_to "Stats for post #{post.title}", post_statistic_path(post) %></li>
  <% end %>
</ul>
