<li>
  <% if achievement.image.present? %>
    <%= image_tag achievement.image.thumb('200x200#').url %>
  <% end %>
  <%= achievement.title %>
  <%= achievement.description %>
  <% if achievement.community? %>
    <span class="label label-info">community</span>
  <% end %>
  <% if current_user.admin? %>
    <%= link_to achievement_path(achievement), method: :delete,
                data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' do %>
      <i class="icon-bin"></i>
      Delete
    <% end %>
  <% end %>
</li>