<li>
  <% if achievement.image.present? %>
    <%= image_tag achievement.image.thumb('200x200#').url %>
  <% end %>
  <%= achievement.title %>
  <%= achievement.description %>
  <% if achievement.community? %>
    <span class="label label-info">community</span>
  <% end %>
</li>