<h1>Categories</h1>


  <% @categories.in_groups_of(3) do |category_group| %>
  <div class="card-group">
      <% category_group.each do |category| %>
        <%= render category if category %>
      <% end %>
    </div>
  <% end %>
